h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: xx-large;
  text-align: left;
  margin: 0 10px;

}
p {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  margin: 0 10px;
}

a {
  color: rgb(0, 0, 0);
  text-align: left;
} /* Globally */

/* Hide the dropdown content by default */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1;
  text-align:center;
}

/* Style the image as a button */
.image-container {
  position: relative;
  display: inline-block;
  height: 20vh;
  width: 100%;
  /* background-color: red; */
  text-align: left;
  margin: 0 10px; /* Add some space between image containers */
}

.image-button {
  cursor: pointer;
  margin-left: auto;
  width: auto; /* Set the desired width */
  height: 100%; /* Maintain aspect ratio */
  text-align: center;
}

/* Adjust the position of the dropdown content */
.dropdown-side {
  top: 0%;
  left: 10%;
}

.btn {
  background-color: rgb(220, 186, 197);
  border: 3px solid black;
  border-radius: 6px;
  padding: 5px;
  margin-right: 3px;
  text-align: center;
}

img {
  max-width: auto;
  text-align: center;
}

.navigation-buttons {
  margin-left:0 auto;
  position:absolute; 
  left: 5%;
  transform:translateX(-50%);
  margin-bottom: 20px;
}

.navbar {
position: relative;
width: 100vw;
/* background-color: rgb(43, 255, 0); */
height: 50px;
}

ul {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}